.gallery {
    display: inline-block;
    border: 2px solid rgb(104, 104, 104);
    margin: 5px;
    width: 200px;
}

.gallery .description {
    padding: 10px;
    text-align: center;
}

.gallery:hover {
    border: 2px solid black;
}

.gallery img {
    width: 100%;
    height: auto;
}
