body {
    background-color: gray;
}

#box {
    width: 250px;
    height: 250px;
    background-color: tomato;
    font-size: 13em;
    text-align: center;
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
    /* direction: normal, reverse, alternate, alternate-reverse */
    animation-direction: normal;
    /* play-state: paused, running */
    animation-play-state: running;
    /* animation-timing-function: ease-in-out (def), linear, steps(5 - like fps) 
    inspect animated element => styles => click graph icon next to animated-timing-function and play with graph*/
    animation-timing-function: cubic-bezier(0.28, -1.48, 0.54, 2.21);
}

/* #box:hover {
    animation-name: glow;
    animation-duration: 2s;
} */

@keyframes slideLeft {
    from {
        transform: translateX(300%);
    }
}

@keyframes slideRight {
    to {
        transform: translateX(200%);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(200%);
    }
}

@keyframes slideDown {
    to {
        transform: translateY(200%);
    }
}

@keyframes rotate {
    25% {
        transform: rotateZ(360deg);
    }
    /* first .5s do animation, next 1.5s revert */
}

@keyframes grow {
    50% {
        transform: scale(2, 2);
    }
}

@keyframes shrink {
    50% {
        transform: scale(0.5, 0.5);
    }
}

@keyframes fade {
    50% {
        opacity: 1;
    }
}

@keyframes colorChange {
    0% {
        background-color: tomato;
    }
    20% {
        background-color: orange;
    }
    40% {
        background-color: yellow;
    }
    60% {
        background-color: greenyellow;
    }
    80% {
        background-color: blue;
    }
    100% {
        background-color: purple;
    }
}

@keyframes glow {
    50% {
        box-shadow: 0px 0px 50px yellow;
    }
}
