#container {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(21, 41, 171);
    color: white;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: rgb(28, 54, 218);
}

input {
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

img {
    height: 150px;
    width: 150px;
    margin: 5px;
}

#diceResult {
    margin: 25px;
}
