/*
.CONTAINER
display: flex:
- flex-direction: row (default), row-reverse (1 is on the right), column, column-reverse
- justify-content (x-axis): flex-start (def), flex-end (to right of screen), center, space-between, space-around, space-evenly   
(space-around puts half-sized spaces at the beginning and end, while space-evenly puts full, equal spaces at the edges and between items)
- align-items (y-axis): flex-start (def), flex-end (bottom of div), center (of height), baseline (text aligned - change box1 fontsize)
- flex-wrap: nowrap (default), wrap, wrap-reverse


FLEX-WRAP: WRAP AND ALIGN-CONTENT: (copy and paste the 4 divs again)
- flex-start (no spaces between in height)
- flex-end (bottom)
- center (middle)
- space-evenly
- space-between

FLEX-WRAP: WRAP AND ALIGN-CONTENT: FLEX-START:
- column-gap (gap between columns), row-gap (gap between rows)

SINGLE ELEMENTS (i.e. box2): 
- align-self (y-axis): start, center, end 
- order: 1 (at the end of the boxes), -1 (first of the boxes)
*/

.container {
    display: flex;
    border: 10px solid black;
    height: 90vh;
}

.box {
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}

#box1 {
    /* font-size: 4em; */
    background-color: hsl(0, 100%, 70%);
}
#box2 {
    background-color: hsl(52, 100%, 70%);
}
#box3 {
    background-color: hsl(111, 100%, 70%);
}
#box4 {
    background-color: hsl(201, 100%, 70%);
}
