body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center; /* only horizontally */
    background-attachment: fixed; /* stays in place, centers vertically */
    background-size: cover;
}
