#myBox {
    background-color: lightgreen;
    width: 300px;
    height: 300px;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

#myButton {
    font-size: 2rem;
}
