.dropdown {
    display: inline-block;
}

.dropdown button {
    background-color: rgb(218, 218, 218);
    color: white;
    padding: 10px 15px;
    border: 0;
    cursor: pointer;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content {
    position: absolute;
    display: none;
    background-color: rgb(235, 235, 235);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: hsl(0, 0%, 70%);
}

.dropdown a:hover {
    background-color: hsl(0, 0%, 80%);
}
